
html {
        background: url("../imagenes/fondo.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

font
{
    opacity: 1;
}

h1
{
    background-image: url("../imagenes/flamasa.gif");
    
    color: gray;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

hr
{
    
}


tit
{
    float: right;
}

logo
{
    float: left;
    margin-right: 100%;
}

h2
{
    font-size: 50px;
    color: black;
    text-shadow: 1px 1px 5px white;
    text-align: center;
}

h3
{
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px 5px white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


.tavo
{
    text-align: center;
    overflow: auto;
    opacity: 0.9;
}

.intro
{
    background-color: darkorange;
    width: 30%;
    text-align: center;
    float: right;
    text-justify: auto;
    margin-left: 5%;
}

body
{
    margin-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    /*background-image: url("../imagenes/fondo.jpg");
    background-position: center;*/
    
    /*background-color: darkcyan;*/
}

pre
{
    color: red;
    background-color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 15px;
    opacity: 0.7;
 
}

em
{
    color: white;
    background-color: darkred;
    margin-bottom: 0px;  
}

a
{
    font-size: 25px;
    opacity: 0.9;
 
 
}

p
{
    background-color: black;
    color: red;
    text-align: justify;
    text-shadow: 1px 1px 5px black;
    font-size: 20px;
    opacity: 0.8;
 
    margin-top: 0px;
    margin-bottom: 10px;
}

strong
{
    background-color: orange;
    color: red;
}

code
{
    background-color: yellow;
    color: darkgreen;
}

.introduccion
{
    font: italic 15px "courier", monospace;
    /*
    font-family: "courier" , monospace;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    */
    border-top-width: 20px;
}

.introduccion em
{
    color: blue;
    background-color: yellowgreen;    
}

img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)    
}

.portada
{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.cierre
{
    background-color: #cdf;
    text-align: center;
    color: black;
    text-decoration: underline;
    line-height: normal;
    text-indent: 50px;
    text-shadow: 1px 1px 4px red;
}

.titulo1
{
    text-align: left;
    font-size: 25px;
    border-bottom: 0px;
    border-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    background-color: red;
    opacity: 0.9;   
    margin-right: 1%;
}

.titulo2
{
    text-align: center;
    font-size: 25px;
    border-bottom: 0px;
    border-top: 0px;
    margin-top: 0px;    
    margin-bottom: 0px;
    float: left;
    background-color: green;
    opacity: 0.9;
    margin-right: 1%;
}

.titulo3
{
    text-align: center;
    font-size: 25px;
    border-bottom: 0px;
    border-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    background-color: gray;
    opacity: 0.9;
    margin-right: 1%;
}

span
{
    color: red;
    
    vertical-align: middle;
}

h1 span span
{
    color: green;
}

.titulo2 span
{
    text-align: center;
    border-bottom: 0px;
    border-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.cuento
{
    text-align: center;
    color: grey;
    font-size: 25px;
    border-bottom: 0px;
    border-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    margin-left: 1%;
    opacity: 0.9;      
}

.opinion
{
    text-align: center;
    color: grey;
    font-size: 25px;
    border-bottom: 0px;
    border-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    margin-left: 1%;
    opacity: 0.9;
}

.primero
{
    margin-right: 1%;
}