.logo
{
    width: 5%;
    height: 5%;
    margin-left: 5%;
}

.barra_nav
{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: black;
}

.barra
{
    font-size: 70%;    
    color: grey;
}

.barra_sel
{
    font-size: 70%;    
    color: grey;
    background-color: aliceblue;
}