html
{
        background: url("../imagenes/fondo1.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.cuerpo
{
    margin-top:     5%;
    padding-left:   20%;
    padding-right:  20%;
    margin-top:    0%;
    margin-bottom: 0%;
}

.NavBar
{
    padding-right: 4%;
    background-color: aqua;
    font-size: 150%;
}

.DiaTit
{
    text-align: right;
    text-shadow: 2px 2px 10px blue;
    font-size: 250%;
    margin-top:    0%;
    margin-bottom: 0%;
}

.logo
{
    width: 15%; 
    height: 15%;
}

.container-1
{
    width: 80%;
    height: 80%;
    position: initial;
}

.container-text-1
{
    width: 30%;
    height: 20%;
    margin-top:     0px;
    margin-right:   0px;
    margin-bottom:  0px;
    margin-left:    0px;
    text-align: left;
    text-indent: 0%;    
    float: left;
}

.container-text-2
{
    width: 70%;
    height: 20%;
    margin-top:     0px;
    margin-right:   0px;
    margin-bottom:  0px;
    margin-left:    0px;
    text-align: justify;
    text-indent: 5%;    
    float: left;
    overflow: auto;
}

.container-img-1
{
    width: 50%;
    height: 20%;
    margin-top:     0px;
    margin-right:   0px;
    margin-bottom:  0px;
    margin-left:    0px;
    text-align: justify;    
    float: left;
}

.ImgExtra
{
    width: 230px;
    height: 230px;
}

#googleMap 
{
    width: 50%; 
    height: 400px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(100%); 
}